@import '~normalize.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.form-group {
  padding: 0 10px;
}

.form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 3px;
}

.btn {
  padding: 10px;

  border: 1px solid #666;
  border-radius: 3px;

  background: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-actions {
  padding: 10px;
}

